@import url(/css/styles.css);
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body{
  background-color: white;
}

.portada{
  padding: 10px 0;
  position: relative;
}
.portada img{
  width: 100%;
}
.portada h2{
  background-color: #f0e8fd9d;
  font-family:"Montserrat", sans-serif;
  font-weight:300;
  font-size: 14px;
  text-align: center;
  color: var(--color-fuente-titulos);
  padding: 10px;
  width: 45%;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 8px#604e68;
}
.portada h2:hover{
  transform: scale(1.1);
  color:#d1afe3;
  font-weight: 500;
  background-color:#47394e;
}
#productos{
  margin-top: 20px;
  text-align: center;
  background-color: var(--color-fondo);
  padding: 1rem;
}
#productos h3{
  font-size: 1.1rem;
  color:#de9a50;
  font-family: "Lora", serif;
}
.tarjetas{
  display: grid;
  gap:10px;
  grid-template-columns:repeat(auto-fit, minmax(150px, 1fr));
  grid-template-areas:
   'agenda calendario libreta bloc kit';
  border-radius: 10px;
  background-color: var(--color-fondo);
}
.tarjetas div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.tar {
  position: relative;
}
.tar p {
  position: absolute;
  bottom: 0.6rem;
  color: transparent;
}
.tar:hover p {
  background-color: var(--color-fondo-etiquetas);
  color: #28202c;
  font-family: "Montserrat", sans-serif;;
  font-weight: 500;
  width: 100%;
  text-align: center;
  padding: 10px;
}

