@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-fondo:#f1f1f1;
    --color-cabecera:#f0e8fd;
    --fuente-principal:"Montserrat", sans-serif;
    --color-subtitulos:#f7ab59;
    --color-fondo-etiquetas:#f7ab59d6;
}
.cabecera{
  background-color: var(--color-cabecera);
  font-style: normal;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
.cabecera img{
  filter: drop-shadow(2px 2px 2px #bcb5c8);
  height: 70px;
}
.cabecera h1{
  font-family: "Lora", serif;
  color: #b18fc2;
  font-size: 25px;
  font-weight: 500;
}
.boton{
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #c1bdc5, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 20px;
  border: 2px solid rgb(206, 206, 206);
}
.boton:hover{
  box-shadow: 4px 4px 10px #c1bdc5, -4px -4px 10px #ffffff;
}
.boton:active{
  box-shadow: inset 2px 2px 5px #c1bdc5, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}
.menu{
  background-color: var(--color-fondo);
  display: flex;
  justify-content: space-evenly;
  gap:10px;
  padding: 3px;
}
.menu a{
  font-size: 12px;
  border-radius:5px;
  color: #4d4d4d;
  padding: 2px 10px;
}
.menu a:hover{
  color:#cdaeff;
}


footer{
  background-color: var(--color-cabecera);
}
#contactos{
  margin: 20px 0 0 0;
  padding: 10px 30px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-areas: 
  'logo redes redes direccion direccion';
  gap: 20px;
}
#contactos p{
  font-family:"Montserrat", sans-serif;
  font-size: 12px;
  color: #28202c;
}
.logo{
  grid-area: logo;
  align-content: center;
  filter:drop-shadow(1px 1px 4px #d4b0e3);
}
.logo img{
  height: 120px;
}
.redes{
  grid-area: redes;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-content: center;
  gap:8px;
}
.redes p{
  color: #604e68;
}
.redes div{
  filter:drop-shadow(2px 2px 4px #604e68);
}
.contacto{
  grid-area: direccion;
  width: 100%;
  align-content: center;
}
.derechos{
  width: 100%;
  background-color:#e4d6f9;
  }

.derechos p{
  font-family:"Montserrat", sans-serif;
  text-align: center;
}
.whatsapp{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  filter:drop-shadow(2px 2px 4px #604e68);
  height: 50px;
}
.whatsapp:hover{
  transform: scale(1.1);
}
